## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## IntelliJ / RubyMine
.idea/*
*.iml

## PROJECT::GENERAL
coverage
rdoc
pkg
.rvmrc

## PROJECT::SPECIFIC
*.rdb

## Test Account details
spec/account.yml
